.contact-text {
    text-align: center;
    margin: 40px 0;
}

.contact-text > h2 {
    font-weight: 700;
    color: var(--text-color);
}

.contact-text > p{
    width: 50%;
    margin: auto;
    color: #666;
}

.contact-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

@media (max-width: 767px) {
    .contact-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}

.box-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-box {
    margin: auto;
    width: 100%;
}

.contact-box > form > label {
    display: block;
    margin-bottom: 10px;
    color: var(--text-color);
    font-weight: 600;
}

.contact-box > form > input {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    width: 70%;
    border: 1px solid #666;
    margin-bottom: 20px;
}

.contact-box > form > textarea {
    padding: 20px;
    border-radius: 10px;
    outline: none;
    color: #666;
    width: 70%;
    resize: none;
    margin-bottom: 30px;
}

.contact-box > form > button {
    padding: 5px 60px;
    background-color: var(--main-color);
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    margin-bottom: 10px;
}
