:root {
  --main-color: #B88E2F;
  --text-color: #000000;
  --p-color: #333333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, h1, h2, h3, p, a, span  {
  font-family: 'Poppins', sans-serif;
}

